body {
    font-family: 'Helvetica', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background: linear-gradient(135deg,#27548A, #000000);
}
.todo-container{
    background-color: #DDA853;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 90%; /* Responsive width */
    max-width: 500px; /* Maximum width */
}
.todo-header {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}
.input-container {
    display: flex;
    margin-bottom: 10px;
}
.todo-input {
    flex-grow: 1;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
}
.todo-button {
    padding: 10px 15px;
    background-color: #22be28;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.todo-list {
    list-style-type: none;
    padding: 0;
}/** **/
.todo-item {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #eee;
    align-items: center;
}

.todo-item span {
    flex-grow: 1;
    cursor: pointer;
}

.todo-item button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}
.completed {
    text-decoration: line-through;
    color: rgb(119, 4, 4);
}