body {
    font-family: 'Helvetica', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background: linear-gradient(135deg,#27548A, #000000);
}
.todo-container{
    background-color: #DDA853;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 90%; /* Responsive width */
    max-width: 500px; /* Maximum width */
}
.todo-header {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}